<p style="color: green"><%= notice %></p>
<h1><%= link_to @group.name, @group %></h1>
<h3>Posts</h3>

<div id="posts">
  <%= render "posts", posts: @posts%>
</div>

<%= link_to "Back to group", @group %> |
<%= link_to "New post", new_group_post_path(@group) %>
