<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_group_path(@post) %> |
  <%= link_to "Back to posts", group_posts_path %> |

  <%= link_to 'Delete post', group_post_path(@post.group.id, @post.id), method: :delete, data: {confirm: 'Are you sure?'} %>
</div>
