<p style="color: green"><%= notice %></p>

<div>
  <div style='display: flex;'><p style='font-weight: 700;'><%=@post.title%></p><p>(<%= @post.author.email %>)</p></div>
  <p><%=@post.content%></p>
</div>

<div>
  <%if @post.author == current_user || @post.group.creator?(current_user)%>
    <%= link_to "Edit this post", edit_group_path(@post) %> |
    <%= link_to 'Delete post', group_post_path(@post.group.id, @post.id), method: :delete, data: {confirm: 'Are you sure?'} %> |
  <%end%>
  <%= link_to "Back to posts", group_posts_path %>

</div>

<div>
<%= render "comments/form", comment: @comment %>
</div>
